extends blocks/-page-layout.pug

block prepend variables
  - const currentPage = PAGES["completed"].pageHref;
  - const pageTitle = "Реализованные проекты";
  -
    const completedData = [
      {
        descr: "60 м²",
        location: "д. Аревское, Дмитровский район",
        date: ["январь 2024", "2024-01"],
        imagesAmt: 2,
        imagesName: "complprjcts-arevskoe",
      },
      {
        descr: ["баня", " 20 м²"],
        location: "мыс Кюренниеми, Ленинградская область",
        date: ["февраль 2024", "2024-02"],
        imagesAmt: 3,
        imagesName: "complprjcts-kyuryonniyemi",
        imagesIsVertical: true,
      },
      {
        descr: "30 м²",
        location: "д. Протасово, ГО Мытищи",
        date: ["август 2023", "2023-08"],
        imagesAmt: 2,
        imagesName: "complprjcts-protasovo",
      },
      {
        descr: "60 м²",
        location: "д. Ширяйка, Переславль-Залесский район, Ярославская область",
        date: ["сентябрь 2023", "2023-09"],
        imagesAmt: 2,
        imagesName: "complprjcts-shiryaika",
      },
      {
        descr: "70 м²",
        location: "д. Ивановское, Ступинский район",
        date: ["июнь 2023", "2023-06"],
        imagesAmt: 2,
        imagesName: "complprjcts-ivanovskoye",
      },
      {
        descr: "55 м²",
        location: "д. Пушкино, ГО Электросталь",
        date: ["апрель 2024", "2023-04"],
        imagesAmt: 3,
        imagesName: "complprjcts-pushkino",
      },
    ]

block main
  main.main
    section.completed-prj
      .wrapper
        h1.completed-prj__title Некоторые из наших проектов
      .wrapper--ext
        each item in completedData
          figure.completed.animated-appearance(class=`${item.imagesAmt > 1 ? "" : "completed--sph"}`)

            //- фото (отображаются только на десктопе)
            .completed__photos-container
              -
                const photoWidthM = item.imagesIsVertical ? 160 : 360;
                const photoHeightM = item.imagesIsVertical ? 231 : 218;
                let cssClass = "completed__photo";
                if (item.imagesIsVertical) { cssClass += " completed__photo--v"; }
                if ((item.imagesAmt % 3 === 0) && (!item.imagesIsVertical)) { cssClass += " completed__photo--tri"; }
              - let imagesCount = 1
              while imagesCount <= item.imagesAmt
                .completed__photoframe
                  +pictureJpgWebpM(`${item.imagesName}-${imagesCount}`, photoWidthM, photoHeightM, `Реализованный проект ${item.location}.`, cssClass, "lazy", [660, 1700])
                - imagesCount++

            //- слайдер (отображается только в мобильной версии)
            .completed__photo-slider
              .swiper(class= `${item.imagesIsVertical ? "slider--v" : ""}`)
                ul.completed__slider-list.swiper-wrapper
                  - imagesCount = 1
                  while imagesCount <= item.imagesAmt
                    li.swiper-slide
                      .completed__slider-item
                        +pictureJpgWebpM(`${item.imagesName}-${imagesCount}`, photoWidthM, photoHeightM, `Реализованный проект ${item.location}.`, "completed__slide", "lazy", [660, 1700])
                    - imagesCount++
                .completed__slider-control
                  .swiper-pagination
                  .swiper-button-prev
                    span.visuallyhidden предыдущий слайд
                  .swiper-button-next
                    span.visuallyhidden следующий слайд

            figcaption
              if Array.isArray(item.descr)
                p.completed__descr
                  each record in item.descr
                    span= record
              else
                p.completed__descr= item.descr
              p.completed__location= item.location
              p.completed__date
                time(datetime= item.date[1])= item.date[0]
