extends blocks/-page-layout.pug

block prepend variables
  -
    const currentPage = PAGES["company"].pageHref;
    const pageTitle = "О компании";
    const aboutCompanySlider = [
      { altText: "Готовый модульный дом на участке среди елей." },
      { altText: "Кухня внутри модульного дома." },
      { altText: "Вход на террасу внутри модульного дома." },
      { altText: "Отделка внутри модульного дома." },
      { altText: "Готовый модульный дом на участке." },
      { altText: "Готовый модульный дом на участке вечером." },
      { altText: "Сборка модульного дома на производстве." },
      { altText: "Собранный модульный дом на производстве." },
      { altText: "Модульный дом в цеху." },
    ];
    const companyFeaturesData = [
      {
        title: "Удобная локация и логистика",
        text: "Наше производство располагается в городе Хотьково Московской области недалеко от ЦКАД, что позволяет организовать удобную логистику по всей России.",
        pics: [{
          fileName: "company-a-logistic", mobSizes: [340, 207], altText: "Погрузка модульного дома.", imageBig: true,
          }],
      },
      {
        title: "Мы используем только современные, высококачественные материалы",
        text: "Все детали конструкции модульного дома проходят тщательный контроль качества на всех этапах производства.",
        pics: [
          { fileName: "company-a-workshop1", mobSizes: [160, 152], altText: "Доски и каркас дома в цеху.", },
          { fileName: "company-a-workshop2", mobSizes: [160, 124], altText: "Модульный  дом на стадии сборки.", },
        ],
      },
      {
        title: "Дом собирается на 90% в цехе и привозится на участок заказчика готовым — целым модулем",
        text: "Остается лишь установить дом на фундамент и подключить к коммуникациям.",
        pics: [{
          fileName: "company-a-shipment", mobSizes: [360, 218], altText: "Грузовик перевозит готовый модульный дом", imageBig: true,
          }],
      },
      {
        title: "Фабричное производство и наши технологии исключают попадание влаги на дерево",
        text: "Таким образом оно остается сухим и исключается появление плесени и грибка, что гарантирует экологичность и долгий срок службы дома.",
        pics: [
          { fileName: "company-a-planks", mobSizes: [160, 180], altText: "Деревянный материал крупным планом в цеху.", },
          { fileName: "company-a-inhouse", mobSizes: [160, 180], altText: "Интерьер дома в цеху на завершающей стадии работы.", },
        ],
      },
    ];

block main
  main.main.company
    .wrapper
      h1.company__title Мы строим теплые модульные дома для постоянного, временного проживания и бизнеса

    include blocks/section-timing.pug

    //- Слайдер
    .wrapper--ext
      .company__photo-slider
        .slider-coverflow.swiper
          ul.company__slider-list.swiper-wrapper
            each item, index in aboutCompanySlider
              li.swiper-slide
                .company__slider-item
                  +pictureJpgWebpM(`company-slider-${index + 1}`, 360, 218, `${item.altText}`, "company__slider-img", lazy = null, [660, 1700])
          .company__slider-control
            .swiper-pagination
            .swiper-button-prev
              span.visuallyhidden предыдущий слайд
            .swiper-button-next
              span.visuallyhidden следующий слайд

    include blocks/section-advantages.pug

    section.company__features
      .wrapper
        each articleItem in companyFeaturesData
          article.company__article.animated-appearance(class=`${articleItem.pics.length > 1 ? "company__article--double-image" : ""}`)
            h2.company__feature-title= articleItem.title
            p.company__feature-text= articleItem.text
            each pic in articleItem.pics
              .company__feature-photo.animated-appearance(class=`${pic.imageBig ? "company__feature-photo--big" : ""}`)
                +pictureJpgWebpM(pic.fileName, pic.mobSizes[0], pic.mobSizes[1], pic.altText, "", "lazy", [660, 1700])

    include blocks/section-also.pug
    include blocks/section-feats.pug
    include blocks/section-easy.pug
    include blocks/section-suppliers.pug
