extends blocks/-page-layout.pug

block prepend variables
  -
    const currentPage = PAGES["company"].pageHref;
    const pageTitle = "О компании";
    const aboutCompanySlider = [
      { altText: "" },
      { altText: "" },
      { altText: "" },
      { altText: "" },
      { altText: "" },
      { altText: "" },
      { altText: "" },
      { altText: "" },
      { altText: "" },
    ];
    const companyFeaturesData = [
      {
        title: "Удобная локация и логистика",
        text: "Наше производство располагается в городе Хотьково Московской области недалеко от ЦКАД, что позволяет организовать удобную логистику по всей России.",
        image_fileName: "company-a-logistic",
        image_mobileSizes: [340, 207],
        image_altText: "Погрузка модульного дома.",
        imageBig: true,
      },
      {
        title: "Мы используем только современные, высококачественные материалы",
        text: "Все детали конструкции модульного дома проходят тщательный контроль качества на всех этапах производства.",
        image_fileName: "company-a-workshop1",
        image2_fileName: "company-a-workshop2",
        image_mobileSizes: [160, 152],
        image2_mobileSizes: [160, 124],
        image_altText: "Доски и каркас дома в цеху.",
        image2_altText: "Дом на стадии сборки.",
      },
      {
        title: "Дом собирается на 90% в цехе и привозится на участок заказчика готовым — целым модулем",
        text: "Остается лишь установить дом на фундамент и подключить к коммуникациям.",
        image_fileName: "company-a-shipment",
        image_mobileSizes: [360, 218],
        image_altText: "Грузовик перевозит готовый модульный дом.",
        imageBig: true,
      },
      {
        title: "Благодаря фабричному производству и нашим технологиям исключается попадание влаги на дерево",
        text: "Таким образом дерево остается сухим и исключается появление плесени и грибка, что гарантирует экологичность и долгий срок службы дома.",
        image_fileName: "company-a-planks",
        image2_fileName: "company-a-inhouse",
        image_mobileSizes: [160, 180],
        image2_mobileSizes: [160, 180],
        image_altText: "Деревянный материал крупным планом в цеху.",
        image2_altText: "Интерьер дома в цеху на завершающей стадии работы.",
      },
    ];

block main
  main.main.company
    .wrapper
      h1.company__title Мы строим теплые модульные дома для постоянного, временного проживания и бизнеса

    include blocks/section-timing.pug

    //- Слайдер
    .wrapper--ext
      .company__photo-slider
        .slider-coverflow.swiper
          ul.company__slider-list.swiper-wrapper
            each item, index in aboutCompanySlider
              li.swiper-slide
                .company__slider-item
                  +pictureJpgWebpM(`company-slider-${index + 1}`, 360, 218, `${item.altText}`, "company__slider-img", lazy = null, [660, 1700])
          .company__slider-control
            .swiper-pagination
            .swiper-button-prev
              span.visuallyhidden предыдущий слайд
            .swiper-button-next
              span.visuallyhidden следующий слайд

    include blocks/section-advantages.pug

    section.company__features
      .wrapper
        each articleItem in companyFeaturesData
          article.company__article.animated-appearance
            h2.company__feature-title= articleItem.title
            p.company__feature-text= articleItem.text
            .company__feature-photo.animated-appearance(class=`${articleItem.imageBig ? "company__feature-photo--big" : ""}`)
              +pictureJpgWebpM(articleItem.image_fileName, articleItem.image_mobileSizes[0], articleItem.image_mobileSizes[1], articleItem.image_altText, "", "lazy", [660, 1700])
            if (articleItem.image2_fileName)
              .company__feature-photo.animated-appearance(class=`${articleItem.imageBig ? "company__feature-photo--big" : ""}`)
                +pictureJpgWebpM(articleItem.image2_fileName, articleItem.image2_mobileSizes[0], articleItem.image2_mobileSizes[1], articleItem.image2_altText, "", "lazy", [660, 1700])

    include blocks/section-also.pug
    include blocks/section-feats.pug
    include blocks/section-easy.pug
    include blocks/section-suppliers.pug
