extends blocks/-page-layout.pug

block prepend variables
  - const currentPage = PAGES["completed"].pageHref;
  - const pageTitle = "Реализованные проекты";
  -
    const completedData = [
      {
        descr: "60 м. кв",
        location: "д. Аревское, Дмитровский район",
        date: ["январь 2024", "2024-01"],
        imagesAmt: 2,
        imagesName: "complprjcts-arevskoe",
      },
      {
        descr: "баня 20 м. кв",
        location: "мыс Кюренниеми, Ленинградская область",
        date: ["февраль 2024", "2024-02"],
        imagesAmt: 3,
        imagesName: "complprjcts-kyuryonniyemi",
        imagesIsVertical: true,
      },
      {
        descr: "30 м. кв",
        location: "д. Протасово, ГО Мытищи",
        date: ["август 2023", "2023-08"],
        imagesAmt: 2,
        imagesName: "complprjcts-protasovo",
      },
      {
        descr: "60 м. кв",
        location: "д. Ширяйка, Переславль-Залесский район, Ярославская область",
        date: ["сентябрь 2023", "2023-09"],
        imagesAmt: 2,
        imagesName: "complprjcts-shiryaika",
      },
      {
        descr: "30 м. кв",
        location: "с. Фаустово, Воскресенский район",
        date: ["октябрь 2023", "2023-10"],
        imagesAmt: 1,
        imagesName: "complprjcts-faustovo",
      },
      {
        descr: "70 м. кв",
        location: "д. Ивановское, Ступинский район",
        date: ["июнь 2023", "2023-06"],
        imagesAmt: 1,
        imagesName: "complprjcts-ivanovskoye",
      },
    ]

block main
  main.main
    section.completed-prj
      .wrapper
        h1.completed-prj__title Реализованные проекты
      //- - const item = completedData[0];
      .wrapper--ext
        each item in completedData
          figure.completed(class=`${item.imagesAmt > 1 ? "" : "completed--sph"}`)
            .completed__photos-container
              - const photoWidthM = item.imagesIsVertical ? 160 : 360
              - const photoHeightM = item.imagesIsVertical ? 231 : 218
              //- фото (отображаются только на десктопе)
              - let imagesCount = 1
              while imagesCount <= item.imagesAmt
                .completed__photoframe
                  +pictureJpgWebpM(`${item.imagesName}-${imagesCount}`, photoWidthM, photoHeightM, `Реализованный проект ${item.location}.`, `completed__photo ${item.imagesIsVertical ? "completed__photo--v" : ""}`, "lazy", [660, 1700])
                - imagesCount++
              //- Слайдер (отображается только в мобильной версии)
            .completed__photo-slider
              .swiper(class= `${item.imagesIsVertical ? "slider--v" : ""}`)
                ul.completed__slider-list.swiper-wrapper
                  - imagesCount = 1
                  while imagesCount <= item.imagesAmt
                    li.swiper-slide
                      .completed__slider-item
                        +pictureJpgWebpM(`${item.imagesName}-${imagesCount}`, photoWidthM, photoHeightM, `Реализованный проект ${item.location}.`, "completed__slide", "lazy", [660, 1700])
                    - imagesCount++
                .completed__slider-control
                  .swiper-pagination
                  .swiper-button-prev
                    span.visuallyhidden предыдущий слайд
                  .swiper-button-next
                    span.visuallyhidden следующий слайд
            figcaption
              p.completed__descr= item.descr
              p.completed__location= item.location
              p.completed__date
                time(datetime= item.date[1])= item.date[0]
