extends blocks/-page-layout.pug

block prepend variables
  - const currentPage = PAGES["contacts"].pageHref;
  - const pageTitle = "Контакты";

mixin contactsItemTitle(contactData)
    if contactData["titleType"] === "tel"
      h2.contacts__item-title.contacts__item-title--tel
        a(href=`tel:+${contactData["titleValue"]}`)= contactData["title"]
    else
      h2.contacts__item-title= contactData["title"]

mixin contactsItemText(contactData)
    if contactData["textType"] === "email"
      each item in contactData["text"]
        a.contacts__item-text.contacts__item-text--link(href=`mailto:${contactData["textValue"]}`)= item
    else
      each item in contactData["text"]
        p.contacts__item-text= item

block main
  main.main
    script(src="https://api-maps.yandex.ru/2.1/?apikey=2b98b9be-369c-4518-a306-5c176159e8e5&lang=ru_RU")
    h1.visuallyhidden Наши контакты
    section.contacts
      .wrapper--ext
        ul.contacts__list
          each item in CONTACTS
            - const itemObj = item["data"]
            li.contacts__item
              +contactsItemTitle(itemObj)
              +contactsItemText(itemObj)
        .contacts__map.map
          h2.map__title.visuallyhidden Карта расположения офиса
          .map__container
            img.map__fallback(src="./img/map-c.png", width="1096", height="620", alt="Скриншот yandex-карты.")
            a.map__link(href="https://yandex.ru/maps/-/CCUsV8TRDD", target="_blank", rel="noopener") г. Москва, ул. Войкова, 4с1
            .map__map#ymap
  <script type="text/javascript">function init(){let n=new ymaps.Map("ymap",{center:[55.859546057916205,37.51696268511962],zoom:13}),o=new ymaps.Placemark([55.85568406887567,37.525674500000015],{balloonContentHeader:"Офис Domycompany",balloonContentBody:"г. Москва, ул. Войкова, 4с1",balloonContentFooter:"2,4 км метро Коптево <br>2,41 км метро Лихоборы <br>3,5 км метро Селигерская",hintContent:"г. Москва, ул. Войкова, 4с1",iconContent:"<b>Domy</b>"},{preset:"islands#yellowStretchyIcon"});n.geoObjects.add(o)}ymaps.ready(init);</script>
