extends -page-layout.pug

block prepend variables
  block houseVariables

block main
  main.main
    section(class= `house-promo house-promo${classModifier}`)
      .wrapper
        .house-promo__text
          h1.house-promo__title= houseData["header"][0]
          .house-promo__title-descr=  houseData["header"][1]
          p.house-promo__price= `${houseData["price"]} ₽`
        ul.house-promo__images-list
          li.house-promo__images-item.image-scalecontainer.image-scalebox
            +pictureJpgWebp(
              houseData["picturesFiles"][0]["name"],
              houseData["picturesFiles"][0]["dimensions"][0],
              houseData["picturesFiles"][0]["dimensions"][1],
              "Визуализация дома",
              "house-promo__img0"
            )
          li.house-promo__images-item.image-scalecontainer.image-scalebox
            +pictureJpgWebp(
              houseData["picturesFiles"][1]["name"],
              houseData["picturesFiles"][1]["dimensions"][0],
              houseData["picturesFiles"][1]["dimensions"][1],
              "Визуализация дома",
              "house-promo__img1"
            )
          li.house-promo__images-item.image-scalecontainer.image-scalebox
            +pictureJpgWebp(
              houseData["picturesFiles"][2]["name"],
              houseData["picturesFiles"][2]["dimensions"][0],
              houseData["picturesFiles"][2]["dimensions"][1],
              "Визуализация дома",
              "house-promo__img2"
            )

    section(class= `house-characteristics house-characteristics${classModifier}`)
      .wrapper.animated-appearance
        h2.house-characteristics__title Характеристики и планировка
        .house-characteristics__description
          dl.description__specifications
            each item in houseData["data"]
              -
                let cssClass= "";
                if (item.head === true) {cssClass += "description__box--head "}
                if (item.underline === true) {cssClass += "description__box--indented "}
                if (item.summary === true) {cssClass += "description__box--summary "}
              .description__box(class= cssClass)
                dt.description__parameter= item.name
                dd.description__value= item.value
        .house-characteristics__scheme
          +picturePngWebp(
            houseData["schemeFile"]["name"],
            houseData["schemeFile"]["dimensions"][0],
            houseData["schemeFile"]["dimensions"][1],
            `Схема ${descrRu}`,
            "house-characteristics__img"
          )

    include section-basequipment.pug
    if isBath !== true
      include section-basequipment-not.pug
