extends -page-layout.pug

block prepend variables
  block houseVariables

block main
  main.main
    section(class= `house-promo house-promo${classModifier}`)
      .wrapper.wrapper--ext
        .house-promo__text
          if (houseData["altHeader"])
            h1.house-promo__title
              span.house-promo__title-gentext= houseData["header"][0]
              span.house-promo__title-alttext= houseData["altHeader"][0]
            .house-promo__title-descr
              span.house-promo__title-gentext= houseData["header"][1]
              span.house-promo__title-alttext= houseData["altHeader"][1]
          else
            h1.house-promo__title= houseData["header"][0]
            .house-promo__title-descr= houseData["header"][1]
          p.house-promo__price= `${houseData["price"]} ₽`
        //- Картинки для 'больших' устройств
        ul.house-promo__images-list
          each item, index in houseData["picturesFiles"]
            li.house-promo__images-item.image-scalecontainer.image-scalebox
              +pictureJpgWebp(item["name"], item["dimensions"][0], item["dimensions"][1], "Визуализация дома", `house-promo__img${[index]}`)
        //- Слайдер для мобильных устройств
        .house-promo__slider
          .slider-img.swiper
            ul.house-promo__slider-list.swiper-wrapper
              each item, index in houseData["sliderData"]["files"]
                li.house-promo__slider-item.swiper-slide
                  +pictureJpgWebp(item, houseData["sliderData"]["dimensions"][0], houseData["sliderData"]["dimensions"][1], "Визуализация дома", "house-promo__slider-img")
            if houseData["sliderData"]["files"].length > 1
              .house-promo__slider-control
                .swiper-pagination
                .swiper-button-prev
                  span.visuallyhidden предыдущий слайд
                .swiper-button-next
                  span.visuallyhidden следующий слайд

    section(class= `house-characteristics house-characteristics${classModifier}`)
      .wrapper.animated-appearance
        h2.house-characteristics__title Характеристики и планировка
        .house-characteristics__description
          dl.description__specifications
            each item in houseData["data"]
              -
                let cssClass= "";
                if (item.head === true) {cssClass += "description__box--head "}
                if (item.underline === true) {cssClass += "description__box--indented "}
                if (item.summary === true) {cssClass += "description__box--summary "}
              .description__box(class= cssClass)
                dt.description__parameter= item.name
                dd.description__value= item.value
        .house-characteristics__scheme
          +picturePngWebp(
            houseData["schemeFile"]["name"],
            houseData["schemeFile"]["dimensions"][0],
            houseData["schemeFile"]["dimensions"][1],
            `Схема ${descrRu}`,
            "house-characteristics__img"
          )

    include section-basequipment.pug
    if isBath !== true
      include section-basequipment-not.pug
    include section-order.pug
