mixin pictureJpgWebp(filename, width, height, altText, cssClass)
  picture
    source(type="image/webp", srcset= `./img/${filename}@1x.webp 1x,./img/${filename}@2x.webp 2x`)
    img(class= cssClass, src= `./img/${filename}@1x.jpeg`, srcset=`./img/${filename}@2x.jpeg 2x`, width=width, height=height, alt= altText)

mixin simpleButton(text, additionalClassesArray, href)
  - const cssClass = 'button ' + additionalClassesArray.join(' ');
  - const linkHref = href ? href : '#';
  a(class= cssClass, href= linkHref)= text
