-
  let mainNav = [
    PAGES.index,
    PAGES.company,
    { name: "Для бизнеса" },
    { name: "Условия" },
  ];
  mainNav[0].navSubPages = [ PAGES['30m'], PAGES['45m'], PAGES['60m'], PAGES['70m'], PAGES['80m'], PAGES['110m'], PAGES['bath'] ];
  mainNav[1].navSubPages = [ PAGES.technology, PAGES.faq, PAGES.contacts];
  mainNav[2].navSubPages = [ PAGES.investors, PAGES.suppliers];
  mainNav[3].navSubPages = [ PAGES.credit, PAGES.shipping];

  let mobileNav = [
    PAGES.index,
    PAGES.company,
    PAGES.technology,
    PAGES.investors,
    PAGES.suppliers,
    PAGES.credit,
    PAGES.shipping,
    PAGES.faq,
    PAGES.contacts,
  ];

mixin logoLinkHeader(logoHref)
  if (logoHref)
    a.header__logo(href= logoHref)
      if block
        block
  else
    a.header__logo.blanklink(href="##", onclick="return false")
      if block
        block

mixin siteNavSubItem({ name, pageHref })
  li(class= 'header__sub-item site-nav__sub-item')
    if ((pageHref) && (pageHref !== currentPage))
      a.site-nav__sub-link(href= pageHref + ".html")= name
    else
      a.site-nav__sub-link.na(href="##", onclick="return false")= name

mixin siteNavItem({ name, pageHref, navSubPages }, mode, index)
  li(class= `header__nav-item site-nav__item ${ index === 0 ? "menu--active" : ""}`)
    if ((pageHref) && (pageHref !== currentPage))
      a.site-nav__link(href= pageHref + ".html")
        span= name
    else
      a.site-nav__link(href="##", onclick="return false")
        span= name
    if (navSubPages && (index === 0 || mode === "desktop"))
      ul.header__sub-menu.site-nav__sub-list
        each subItem in navSubPages
          +siteNavSubItem(subItem)

header.header
  .header__fixed-container
    .wrapper
      //- logoHref генерируется в page-layout.pug
      .header__logo-block
        +logoLinkHeader(logoHref)
          img.domy-logo(src="./img/domy-logo.svg", width="49", height="16", alt="логотип DOMY.")
      .header__nav-block
        button.header__burger.button
          span.header__burger-line
          span.header__burger-line
          span.header__burger-line
          span.header__burger-line
        nav.header__nav.site-nav
          ul.site-nav__list.header__nav-list--mobile
            .site-nav__container
              each item, index in mobileNav
                +siteNavItem(item, "mobile", index)
          ul.site-nav__list.header__nav-list--desktop
            each item, index in mainNav
              +siteNavItem(item, "desktop", index)
      .header__call-block
        .header__phone
          a.header__tel(href="tel:+74951828188") +7 (495) 182 81 88
          p.header__tel-time Ежедневно с 9:00 до 21:00
        button.header__callback.button.callback-button Заказать звонок
