-
  let footerNav = [
    PAGES.index,
    PAGES.business,
    PAGES.company,
    PAGES.credit,
    PAGES.faq,
    PAGES.delivery,
    PAGES.contacts,
  ];

mixin logoLinkFooter(logoHref)
  if (logoHref)
    a.footer__logo(href= logoHref)
      if block
        block
  else
    a.footer__logo.blanklink(href="#", onclick="return false")
      if block
        block

mixin socialLinkItem({ name, lClass, href })
  li.socials__item
    a(class=`socials__link socials__link--${lClass} ${ href ? "" : "socials__link--disabled" }`, id=`${lClass}-link`, href= ( href ? href : "#" ), target="_blank", rel="noopener", onclick = ( href ? null : "return false" ))
      span.visuallyhidden= name

mixin footerNavItem({ name, pageHref })
  li(class= pageHref !== currentPage ? 'footer-nav__item' : 'footer-nav__item footer-nav__item--active')
    if ((pageHref) && (pageHref !== currentPage))
      a.footer-nav__link(href=pageHref + ".html")= name
    else if (pageHref === currentPage)
      a.footer-nav__link.blanklink(href="#", onclick="return false")= name
    else
      a.footer-nav__link.na(href="404.html", onclick="return false")= name

footer.footer
  .wrapper
    .footer__logo-box
      //- logoHref генерируется в page-layout.pug
      +logoLinkFooter(logoHref)
        img.domy-logo(src="./img/domy-logo.svg", width="86", height="26", alt="логотип DOMY.")
    .footer__tel-box
      a.footer__tel#tel-footer(href="tel:+74951828188") +7 (495) 182 81 88
    .footer__container
      .footer__about
        address.footer__addresses
          //- p.footer__office-adress Офис:
          //-   span г.&nbsp;Москва, ул.&nbsp;Войкова, д.&nbsp;4 с1
          //- p.footer__manufacturing-adress Производство:
          .footer__address-item Офис и производство:
            p г. Хотьково, ул. Заводская, д. 1
            p Ежедневно с 9:00 до 21:00
          .footer__address-item
            p г. Ставрополь, ул. Коломийцева, 62/1
            p +7 (8652) 97-61-09
          .footer__address-item Офис и выставочный центр:
            p Выставка коттеджей в Озерках пос. Парголово, Выборгское ш., 212, уч. 36
            p Ежедневно с 10:00 до 19:00
            p +7 (812) 999-35-45
        a.footer__email#email-footer(href="mailto:domycompany@ya.ru") domycompany@ya.ru
      ul.footer__nav.footer-nav
        each item in footerNav
          +footerNavItem(item)
    ul.footer__socials.socials__list
      each item in SOCIAL_LINKS
        +socialLinkItem(item)
    .footer__legal
      .footer__details
        p.footer__details-title Общество с ограниченной ответственностью «Доми»
        p= "Юридический / фактический адрес: "
          |
          <br>
          each item in [ "141371, Московская область, г. о. Сергиево-Посадский, ", "г. Хотьково, ул. Заводская, д. 1" ]
            span= item
        .footer__details-info
          p ОГРН: 1235000164013
          p ИНН: 5042163856
          p КПП: 504201001
      .footer__copyrights
        p Дизайн: <a href="http://lisinica-port.tilda.ws/" rel="noopener">Lisinica</a>
        p Веб-разработка: Pavel Sokolovskii
        p 2024
