-
  const creditFeatures = [
    {
      featureTerm: "Клиентов приобретают наши дома в ипотеку",
      featureDescription: "7 из 10",
    },
    {
      featureTerm: "Минимальная ставка по ипотеке",
      featureDescription: "6%",
    },
    {
      featureTerm: "Срок первичного одобрения ипотеки",
      featureDescription: "1 день",
    },
    {
      featureTerm: "Сопровождаем и консультируем по ипотечной сделке",
      featureDescription: "Бесплатно",
    },
  ]

  const creditSpecialistTxt ={
    header: "Наши специалисты предоставят всю необходимую информацию по интересующей вас программе банковской поддержки, проконсультируют и помогут сделать правильный выбор.",
    text: "В оформлении заявки вам поможет персональный менеджер, который курирует ваш проект. При необходимости мы также привлекаем узких специалистов в области банковского финансирования, чтобы учесть все тонкости и нюансы, максимально быстро подобрать полный пакет документов, использовать льготы, сократить срок рассмотрения заявления и повысить вероятность одобрения.",
  }

  const creditPartnersTxt ={
    header: "Банки-партнеры",
    text: "Мы сотрудничаем с надёжными банками, которые предоставляют услуги ипотечного и потребительского кредитования.",
  }

section.credit
  .wrapper.credit__container
    if creditPage
      h1.credit__title Предлагаем приобрести дом в кредит или ипотеку без первоначального взноса
    else
      h2.credit__title.animated-appearance Покупка дома без первоначального взноса? Это возможно!
    .credit__features.credit-features
      each item in creditFeatures
        dl.credit-features__list.animated-appearance
          .credit-features__container
            dt.credit-features__descr= item.featureDescription
            dd.credit-features__term= item.featureTerm
    .credit__specialist.animated-appearance
      h3= creditSpecialistTxt.header
      p= creditSpecialistTxt.text
    .credit__partners.animated-appearance
      h3= creditPartnersTxt.header
      p= creditPartnersTxt.text
      a.credit__request.button.callback-button(href="#callbackwidget") Оставить заявку
