- const equipmentData = isBath === true ? bathEquipmentData : houseEquipmentData

mixin equipmentAccordionItem(buttonValue, contentValue)
  li.basequipment__item
    button.button.accordion-button.basequipment__item-name(type="button")= buttonValue
    .basequipment__item-content.accordion-content
      p= contentValue

section.basequipment
  .wrapper.animated-appearance
    h2.basequipment__title Что входит в базовую комплектацию
    ul.basequipment__categories-roster
      each dataItem in equipmentData
        if (Array.isArray(dataItem))
          .basequipment__category-container
            each subItem in dataItem
              li(class=`basequipment__category basequipment__category--${subItem.iconName}`)
                .basequipment__category-titlebox
                  h3.basequipment__category-title= subItem.title
                ul.basequipment__category-list
                  each item in subItem.parts
                    +equipmentAccordionItem(item.name, item.content)

        else
          li(class=`basequipment__category basequipment__category--${dataItem.iconName}`)
            .basequipment__category-titlebox
              h3.basequipment__category-title= dataItem.title
            ul.basequipment__category-list
              each item in dataItem.parts
                +equipmentAccordionItem(item.name, item.content)
