-
  const instockData = [
    {
      name: "30 м²",
      href: PAGES["30m"]["pageHref"],
      price: `${HOUSES_DATA["30m"]["price"]} ₽`,
      imageName: "in-stock-30",
      alt: "фото дома 30 м²",
    },
    {
      name: "70",
      href: PAGES["70m"]["pageHref"],
      specialSpan: "м²",
      price: `${HOUSES_DATA["70m"]["price"]} ₽`,
      alt: "фото дома 70 м²",
      imageName: "in-stock-70",
    },
    {
      name: "Баня",
      href: PAGES["bath"]["pageHref"],
      price: `${HOUSES_DATA["bath"]["price"]} ₽`,
      imageName: "in-stock-bath",
      alt: "фото бани",
    },
  ]

section.instock
  .wrapper.animated-appearance
    h2.instock__title У нас есть дома в наличии
    //- p= (JSON.stringify(PAGES["bath"]["pageHref"]))
    ul.instock__list
      each item in instockData
        li.instock__item
          .instock__item-box.image-scalecontainer
            a.instock__item-link(href=`${item.href}.html`)
            .image-scalebox
              +pictureJpgWebpM(item.imageName, 360, 185, item.alt, "instock__item-image", "lazy")
            .instock__item-captions
              if (item.specialSpan)
                h3.instock__item-name
                  span= item.name
                  span= " "
                  span= item.specialSpan
              else
                h3.instock__item-name= item.name
              .instock__item-under
                .instock__item-underline
                p.instock__item-price= item.price
              span.visuallyhidden Подробнее

