-
  const promoTableData70 = HOUSES_DATA["70m"];
  const promoTableData30 = HOUSES_DATA["30m"];
  //- достаём поля заголовка для элемента about ↓
  const aboutFileds70 = promoTableData70["data"].filter(field => {return field.head === true})[0];
  const aboutFileds30 = promoTableData30["data"].filter(field => {return field.head === true})[0];

section.main-promo
  .main-promo__wrapper
    h2.main-promo__title Мы строим <br>модульные дома
    .main-promo__text-box
      ul.main-promo__features-list
        li.main-promo__features-item с отделкой и коммуникациями
        li.main-promo__features-item для круглогодичного проживания
        li.main-promo__features-item доставка по регионам России
      a.main-promo__button.callback-button.button(href="#callbackwidget") Получить расчет
    //- .main-promo__tour-circle
    //-   a.main-promo__tour-link(href=`${SOCIAL_LINKS.find((item)=>item.name==="WhatsApp").href}`, rel="noopener", target="blank")
    //-     span.visuallyhidden= `Хотите убедиться в качестве? Запишитесь на экскурсию по производству`
    .main-promo__slider
      .slider-img.swiper
        ul.main-promo__slider-list.swiper-wrapper
          li.main-promo__slider-item.swiper-slide
            +pictureJpg('main-slider-1', '100%', 'auto', 'Модульный дом 70 м².', "main-promo__slider-image slider__image")
          li.main-promo__slider-item.swiper-slide
            +pictureJpg('main-slider-2', '100%', 'auto', 'Модульный дом 30 м².', "main-promo__slider-image slider__image")
        .main-promo__slider-controls
          .swiper-button-prev
            span.visuallyhidden предыдущий слайд
          .swiper-button-next
            span.visuallyhidden следующий слайд
    .main-promo__container-center
      .slider-txt.swiper
        ul.main-promo__descr-list.swiper-wrapper
          li.main-promo__descr-item.swiper-slide
            .description__container
              .description__header-block
                h3.description__title
                  span 70
                  span= " "
                  span м²
                p.description__about= aboutFileds70["name"]
                  span.description__about-more= aboutFileds70["value"]
              dl.description__specifications.description__specifications--small
                each item in promoTableData70.data
                  //- переносим все поля, кроме заголовка, в таблицу ↓
                  if item["head"] !== true
                    .description__box(class= (item.underline === true) ? "description__box--indented" : (item.summary === true) ? "description__box--summary" : "")
                      dt.description__parameter= item.name
                      dd.description__value= item.value
              a.promo-description__link.description__link.button(href= promoTableData70.href + ".html") Cмотреть планировку
            .description__smallcontainer
              h3.description__title
                a.description__title-link(href= promoTableData70.href + ".html")
                  span 70
                  span= " "
                  span м²
              ul.description__shortlist
                each item in promoTableData70.shortData
                  li.description__feature= item
          li.main-promo__descr-item.swiper-slide
            .description__container
              .description__header-block
                h3.description__title 30 м²
                p.description__about= aboutFileds30["name"]
                  span.description__about-more= aboutFileds30["value"]
              dl.description__specifications.description__specifications--small
                each item in promoTableData30.data
                  //- переносим все поля, кроме заголовка, в таблицу ↓
                  if item["head"] !== true
                    .description__box(class= (item.underline === true) ? "description__box--indented" : (item.summary === true) ? "description__box--summary" : "")
                      dt.description__parameter= item.name
                      dd.description__value= item.value
              a.promo-description__link.description__link.button(href= promoTableData30.href + ".html") Cмотреть планировку
            .description__smallcontainer
              h3.description__title
                a.description__title-link(href= promoTableData30.href + ".html") 30 м²
              ul.description__shortlist
                each item in promoTableData30.shortData
                  li.description__feature= item
