-
  const promoData = [
    {
      name: "30",
      info: HOUSES_DATA["30m"],
    },
    {
      name: "105",
      info: HOUSES_DATA["105m"],
    },
  ];
  //- достаём поля заголовка для элемента about ↓
  promoData.forEach((item) => { item.about = item.info.data.filter(field => {return field.head === true})[0]; });

mixin descriptionTitle(name, short)
  if short
    span= name
  else
    span= name
    span= " "
    span м²

section.main-promo
  .main-promo__wrapper
    h1.main-promo__title Модульные дома с кухней в подарок
    .main-promo__text-box
      ul.main-promo__features-list
        li.main-promo__features-item для круглогодичного проживания
        li.main-promo__features-item «под ключ» с отделкой и коммуникациями
        li.main-promo__features-item с гарантией 10 лет
      a.main-promo__button.callback-button.button(href="#quiz") Получить расчет
    .main-promo__slider
      .slider-img.swiper
        ul.main-promo__slider-list.swiper-wrapper
          li.main-promo__slider-item.swiper-slide
            +pictureJpg('main-slider-1', '510', '296', 'Модульный дом 70 м².', "main-promo__slider-image slider__image")
          li.main-promo__slider-item.swiper-slide
            +pictureJpg('main-slider-2', '510', '296', 'Модульный дом 30 м².', "main-promo__slider-image slider__image")
        .main-promo__slider-controls
          .swiper-button-prev
            span.visuallyhidden предыдущий слайд
          .swiper-button-next
            span.visuallyhidden следующий слайд
    .main-promo__container-center
      h2.visuallyhidden Мы строим модульные дома
      .slider-txt.swiper
        ul.main-promo__descr-list.swiper-wrapper
          each promoItem in promoData
            li.main-promo__descr-item.swiper-slide
              //- текстовый блок для десктопа
              .description__container
                .description__header-block
                  h3.description__title
                    +descriptionTitle(promoItem.name, promoItem.isShortName)
                  p.description__about= promoItem.about.name
                    span.description__about-more= promoItem.about.value
                dl.description__specifications.description__specifications--small
                  each item in promoItem.info.data
                    //- переносим все поля, кроме заголовка, в таблицу ↓
                    if item["head"] !== true
                      -
                        let cssClass = "";
                        if (item.underline === true) {cssClass += "description__box--indented "}
                        if (item.summary === true) {cssClass += "description__box--summary "}
                        if (item.inserted === true) {cssClass += "description__box--inserted "}
                        if (item.optional === true) {cssClass += "description__box--rem "}
                      .description__box(class= cssClass)
                        dt.description__parameter= item.name
                        dd.description__value= item.value
                a.promo-description__link.description__link.button(href= promoItem.info.href + ".html") Cмотреть планировку
              //- текстовый блок для мобильного вида
              .description__smallcontainer
                h3.description__title
                  a.description__title-link(href= promoItem.info.href + ".html")
                    +descriptionTitle(promoItem.name, promoItem.isShortName)
                ul.description__shortlist
                  each item in promoItem.info.shortData
                    li.description__feature(class=`${item[1] ? "description__feature--wide" : ""}`)= item[0]
